<!doctype html>
<html>
    <head>
        <title>For when your imagination sucks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='metahack.js') }}"></script>
    </head>
    <body>
        <div class="container">
        <div class="header">
            <a href="/" class="home-link">Metahack</a>
            {% if message %}
                <span class="message-area">{{ message }}</span>
            {% endif %}
            <a href="/submit" class="submit-link">Submit your own</a>
            <a href="/bestof" class="bestof-link">Best-of</a>
            <a href="/" class="home-dashed-link">Home</a>
        </div>
        <div class="content">
            {% for hackathon_idea in hackathon_ideas %}
                <div class="idea-container">
                    <div class="hackathon-idea">{{ hackathon_idea }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="footer"></div>
        </div>
    </body>
</html>
