<!doctype html>
<html>
    <head>
        <title>For when your imagination sucks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='metahack.js') }}"></script>
    </head>
    <body>
        <div class="header">
            Metahack
        </div>
        <div class="content">
            <div class="idea-container">
                <div class="hackathon-idea">{{ hackathon_idea }}</div>
            </div>
        </div>
        <div class="another-suggestion">
            <button>Naw.</button>
        </div>

        <div class="footer"></div>
    </body>

</html>
