<!doctype html>
<html>
    <head>
        <title>For when your imagination sucks</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='metahack.js') }}"></script>
    </head>
    <body>
        <div class="container">
        <div class="header">
            <a href="/" class="home-link">Metahack</a>
            <a href="/submit" class="submit-link">Submit your own</a>
            <a href="/bestof" class="bestof-link">Best-of</a>
            <a href="/" class="home-dashed-link">Home</a>
        </div>
        <div class="content">
            <form method="POST" action="/submit">
                <div class="idea-container">
                    <textarea name="idea" class="hackathon-idea"></textarea>
                </div>
                <div class="action-buttons">
                    <div class="another-suggestion">
                        <button>Submit.</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="footer"></div>
        </div>
    </body>
</html>
